$schema: "https://json-schema.org/draft/2020-12/schema"
properties:
  input_file:
    type: string
    description: "Input file for workflow"
  output_dir: 
    type: string
    description: "Output directory"
    default: "results"
  temp_dir:
    type: string
    description: "Temporary directory"
    default: "results/tmp"
  min_len:
    type: integer
    default: 500
    description: "Minimum length of sequences to include"
  consensus_threshold:
    type: integer
    default: 80
    description: "Consensus threshold in percent"
  consensus_method:
    type: string
    default: "rank"
    description: "Method to use for calculating consensus, see README"
    enum: ["rank", "full"]
  ranks:
    type: array
    default: 
      - "kingdom"
      - "phylum"
      - "class"
      - "order"
      - "family"
      - "genus"
      - "species"
    description: "Ranks to use for calculating consensus and generating fastas"
  vsearch_identity:
    type: number
    default: 1.0
    description: "Identity threshold to use when clustering with vsearch"
    min: 0.0
    max: 1.0

required:
  - input_file