$schema: "https://json-schema.org/draft/2020-12/schema"
properties:
  input_file:
    type: string
    description: "Input file for workflow"
  output_dir: 
    type: string
    description: "Output directory"
    default: "results"
  min_len:
    type: integer
    default: 500
    description: "Minimum length of sequences to include"
  consensus_threshold:
    type: integer
    default: 80
    description: "Consensus threshold in percent"
  vsearch_identity:
    type: number
    default: 1.0
    description: "Identity threshold to use when clustering with vsearch"
    min: 0.0
    max: 1.0